.banner-image {
    background-image: url("https://media.istockphoto.com/photos/preparing-for-travel-in-new-normal-picture-id1263660709?b=1&k=20&m=1263660709&s=170667a&w=0&h=gQsuT6-L1iU8SCSIX6eihN_E0vMUPUZO7hPv3luYntM=");
    height: 70vh;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top:20px;
    margin-bottom:30px;
  }
   h1{
    color:lightcoral ;
  }